<%- include("./partials/header")%>

<div class="jumbotron">
    <h1 class="display-4">Hello!!</h1>
    <p class="lead">This app helps us to search about the movie details such as name of the director,actors,it's imdb rating and many more</p>
    <hr class="my-4">
    <p></p>
    <a class="btn btn-primary btn-lg" href="/" role="button">Return to Home Page</a>
  </div>

<%- include("./partials/footer")%>